REAttrDataExch.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://inform.gazprom.ru/C/SUIM/REDataExchange" targetNamespace="http://inform.gazprom.ru/C/SUIM/REDataExchange">
	<xsd:element name="REAttrDataExchangeMessage" type="REDataExchangeAttrECD"/>
	<xsd:complexType name="REDataExchangeHeader">
		<xsd:sequence>
			<xsd:element name="LogicalSystem">
				<xsd:annotation>
					<xsd:documentation>Логическая система</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ObjectType">
				<xsd:annotation>
					<xsd:documentation>Вид объекта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ObjectNumber">
				<xsd:annotation>
					<xsd:documentation>Номер объекта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ObjectNumber_ext" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Внешний номер объекта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Activity">
				<xsd:annotation>
					<xsd:documentation>Операция (01 - создание, 02 - изменение)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="01"/>
						<xsd:enumeration value="02"/>
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ObjectTypeDiff">
				<xsd:annotation>
					<xsd:documentation>Тип объекта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Destination">
				<xsd:annotation>
					<xsd:documentation>БЕ получателя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REDataExchangeAttrFile">
		<xsd:sequence>
			<xsd:element name="File_ID">
				<xsd:annotation>
					<xsd:documentation>ID файла образа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Current_Part">
				<xsd:annotation>
					<xsd:documentation>Текущая часть файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="All_Parts">
				<xsd:annotation>
					<xsd:documentation>Всего частей в файле</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Current_Hash">
				<xsd:annotation>
					<xsd:documentation>Хеш части файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="All_Hash">
				<xsd:annotation>
					<xsd:documentation>Общий хеш файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NOMER">
				<xsd:annotation>
					<xsd:documentation>Порядковый номер</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FILE_NAME">
				<xsd:annotation>
					<xsd:documentation>Имя файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="USERS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Автор, прикрепивший файл</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="USERSTXT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ФИО автора, прикрепившего файл</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATUM" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата прикрепления файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Delete" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Метка удаления объекта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REDataExchangeAttrECD">
		<xsd:sequence>
			<xsd:element name="Header" type="REDataExchangeHeader">
				<xsd:annotation>
					<xsd:documentation>Обмен данными: заголовок</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OBJECT_REFS" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Ссылка на основной объект</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OBJECT_REF">
							<xsd:annotation>
								<xsd:documentation>Ссылка на основной объект</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="70"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ObjCommType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Тип связи с объектом</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="LINK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Вид связи для объекта с табличной частью</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCGUID" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>GIUD строки (для объектов, в которых ЭКД крепится не к объекту, а к строке таблице)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Delete" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Метка удаления ссылки на основной объект</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PARTNER_REFS" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Ссылка на делового партнера</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PARTNER_REF">
							<xsd:annotation>
								<xsd:documentation>Ссылка на делового партнера (код ОБД НСИ)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="LINK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Вид связи</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCGUID">
							<xsd:annotation>
								<xsd:documentation>GIUD строки</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Delete" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Метка удаления ссылки на делового партнера</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GENERAL">
				<xsd:annotation>
					<xsd:documentation>Обмен данными:</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DOCTYPE">
							<xsd:annotation>
								<xsd:documentation>Вид договора</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCGR_CODE">
							<xsd:annotation>
								<xsd:documentation>Группа документов</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="12"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCNUM">
							<xsd:annotation>
								<xsd:documentation>Номер договора</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCDATE" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата договора</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DOCNAME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Краткое наименование</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="NODOCNUM" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Договор без номера</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NODOCDATE" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Договор без даты</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="REMARKS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Примечание</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RERF">
							<xsd:annotation>
								<xsd:documentation>Автор (логин)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="12"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="AUTORDOC">
							<xsd:annotation>
								<xsd:documentation>Автор документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CONTRACT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Договоры</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BP1">
							<xsd:annotation>
								<xsd:documentation>Код Контрагента 1 (Со стороны ОАО «Газпром»)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XBP1">
							<xsd:annotation>
								<xsd:documentation>Наименование Контрагента 1 (Со стороны ОАО «Газпром»)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="BP2">
							<xsd:annotation>
								<xsd:documentation>Код Контрагента 2</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XBP2">
							<xsd:annotation>
								<xsd:documentation>Наименование Контрагента 2</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNBEG" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата начала</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RECNEND1ST" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата окончания</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RECNREGDJR" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата регистрации в ЮД</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RECNREGJR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>№ регистрации в ЮД</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="30"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNREGDCH" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата регистрации в ДО</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RECNNRCH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер договора в ДО</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="40"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNREGST" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер гос. регистрации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="80"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNREGDST" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата гос. регистрации</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FINDOC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Финансовые документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RECNNREXT">
							<xsd:annotation>
								<xsd:documentation>Номер договора</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ДО, организация, исполнитель</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECND" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата договора</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="AJAHR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Год</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNTYPE">
							<xsd:annotation>
								<xsd:documentation>Вид договора</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="80"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SUMMA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Сумма</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="TAXAMOUNT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Сумма НДС</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CALCCURR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Валюта условия позиции денежного потока</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DESCRIPTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Краткое содержание</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LETTERS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Письма</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CHILDORG1">
							<xsd:annotation>
								<xsd:documentation>Организация отправитель (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG1">
							<xsd:annotation>
								<xsd:documentation>Организация отправитель (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SENDERFIO">
							<xsd:annotation>
								<xsd:documentation>ФИО отправителя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CHILDORG2">
							<xsd:annotation>
								<xsd:documentation>Организация получатель (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG2">
							<xsd:annotation>
								<xsd:documentation>Организация получатель (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECEIVERFIO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ФИО получателя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DESCRIPTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Краткое содержание</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="SUMMA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Сумма</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CALCCURR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Валюта условия позиции денежного потока</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ANY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Разные документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CUSTOMER">
							<xsd:annotation>
								<xsd:documentation>Организация</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CHILDORG">
							<xsd:annotation>
								<xsd:documentation>Организация (исполнитель, код ДО)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG">
							<xsd:annotation>
								<xsd:documentation>Организация (исполнитель наименование ДО)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PERIODBEGIN" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Начало периода</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CONSTRUCTOBJECT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Объект стройки</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CONSTRUCTNAME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Наименование стройки</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PERIOD" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Окончание периода</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LINKDOCNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="LINKDOCDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SUMMA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Сумма</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CALCCURR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Валюта условия позиции денежного потока</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ACTS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Акты приема-передачи документов</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BP1">
							<xsd:annotation>
								<xsd:documentation>ДО, передающая сторона (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XBP1">
							<xsd:annotation>
								<xsd:documentation>ДО, передающая сторона (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="BP2">
							<xsd:annotation>
								<xsd:documentation>ДО, принимающая сторона (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XBP2">
							<xsd:annotation>
								<xsd:documentation>ДО, принимающая сторона (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECVDOCNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер  принимаемого документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECVDOCDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата принимаемого документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="KADASTRNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Инвентарные номера</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KPD" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Кадастрово-правовые документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LAWSUBJECT">
							<xsd:annotation>
								<xsd:documentation>Субъект права (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XLAWSUBJECT">
							<xsd:annotation>
								<xsd:documentation>Субъект права (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XOLTYPE">
							<xsd:annotation>
								<xsd:documentation>Вид имущества</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="24"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OLTYPE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Тип объекта</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="REGNUM">
							<xsd:annotation>
								<xsd:documentation>Номер гос. регистрации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="24"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="REGDATE" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата гос. регистрации</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CERTSER">
							<xsd:annotation>
								<xsd:documentation>Серия бланка свидетельства</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CERTNUM">
							<xsd:annotation>
								<xsd:documentation>Номер бланка свидетельства</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="CERTDATE" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата выдачи свидетельства</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CHILDORG">
							<xsd:annotation>
								<xsd:documentation>Организация (код ДО)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG">
							<xsd:annotation>
								<xsd:documentation>Организация (наименование ДО)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XOBJOFLAW">
							<xsd:annotation>
								<xsd:documentation>Объект права</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="KADASTRNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Кадастровый номер (условный номер)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="100"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XLAWTYPE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Вид права</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="100"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="LAWTYPE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Вид права</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="INVENTORNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Инвентарные номера</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="BP1" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Организация (БТИ, код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RECNREGOROLD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Организация (БТИ, наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DFV" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ДФВ</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MANAGING_SUBJEC">
							<xsd:annotation>
								<xsd:documentation>Контрагент (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XMANAGING_SUBJEC" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Контрагент (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="BUKRS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Балансовая единица</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="REGDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата регистрации</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="REGNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Регистрационный номер</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер договора</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DOCDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата договора</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DOCNAME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Краткое наименование</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="NODOCNUM" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Договор без номера</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NODOCDATE" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Договор без даты</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="REMARKS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Примечание</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="REGORGAN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Орган регистрации</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DESCRIPTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Краткое описание</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NNA" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ННА</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CHILDORG1">
							<xsd:annotation>
								<xsd:documentation>Организация (код ДО)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XCHILDORG1">
							<xsd:annotation>
								<xsd:documentation>Организации (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OBJNAME" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Наименование объекта</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OBJPLACE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Местонахождение объекта</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="KADASTRNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Кадастровый/Условный номер</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="100"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="OGRN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>ОГРН</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="EGRJLDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата регистрации ЕГРЮЛ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EGRPDATE" type="xsd:date" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата внесения записи в ЕГРП</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EGRPNUM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер записи в ЕГРП</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="24"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CCC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Управление корпоративного контроля</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RATINGOBJECT">
							<xsd:annotation>
								<xsd:documentation>Объект оценки</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ESTIMATEDORG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Оценочная организация (код)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="12"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="XESTIMATEDORG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Оценочная организация (наименование)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="400"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AttrFile" type="REDataExchangeAttrFile" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Аттрибуты файла эл. копии документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>